.postNewSongArea{
    background-color:ghostwhite;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.whole{
    display: flex;
    justify-content: center;
    background-color: azure;
}

.imageSetup{
    order: -1;
}

.table{
    background-color: wheat;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

